<div id="education" >

    <h1 id="education-tag"> EDUCATION </h1>

    <div class="education-entry">
        <img src="../../assets/texas-a&m-logo.png" alt="Texas A&M logo">
        <div class="education-text">
            <h1> Texas A&M - Bachelors of Computer Science </h1> <br>
            <span><b> Fall 2015 - Fall 2019 </b></span>
            <ul>
            </ul>
        </div>
        <hr>
    </div>    

    <div class="education-entry">
        <img src="../../assets/aws-logo.png" alt="AWS logo">
        <div class="education-text">
            <h1> AWS Certified Solutions Architect - Associate </h1> <br>
            <b> July 2020 - July 2023 </b> 
            <ul>
                <li>Gained insightful knowledge on blah blah blah</li>
            </ul>
        </div>
        
    </div>


</div>

