#education {
    padding-left: 25%;
    padding-top: 0%;
}

img {
    width: 300px;
    height: auto;
    margin-right: 30px;
}

.education-entry {
    width: max-content;
    margin-top: 50px;
}

.education-text {
    margin-left: 0%;
    float: right;
}

li {
    margin-top: 15px;
}

b {
    font-size: larger;
}
