<div id="experience" >

    <div class="job-entry">
        <img src="../../assets/capital-one-logo.jpg" alt="Capital One logo">
        <div class="job-text">
            <h1> Associate Software Engineer - Capital One </h1> <br>
            <b> Feburary 2020 - Present </b>
            <ul>
                <li>
                    Developed and implemented an application for customer <br> 
                    service agents to manage, edit, and view loan applications 
                </li>
                <li>
                    Add second point
                </li>
            </ul>
        </div>
        <hr>
    </div>    

    <div class="job-entry" >
        <img src="../../assets/capital-one-logo.jpg" alt="Capital One logo">
        <div class="job-text">
            <h1> Software Engineering Intern - Capital One </h1> <br>
            <b> June 2019 - August 2019 </b>
            <ul>
                <li> 
                    Created a REST API that utilizes the streaming platform Kafka <br> 
                    to migrate historical chat data from a 3rd party host to Capital <br>
                    One’s databases
                </li>
                <li>
                    Aided in the development of a REST API that transfers chat <br> 
                    metrics in real time after a customer engagement ends
                </li>
            </ul>
        </div>
        <hr>
    </div>

    <div class="job-entry">
        <img src="../../assets/jpmorgan-chase-logo.jpeg" alt="JPMorgan Chase logo">
        <div class="job-text">
            <h1> Software Engineering Intern - JPMorgan Chase </h1> <br>
            <b> June 2019 - August 2019 </b>
            <ul>
                <li> 
                    Implemented a local dynamic testing environment for Chase.com’s UI <br>
                    and backend services
                </li>
                <li>
                    Recorded documentation for internal JPMorgan software products
                </li>
            </ul>
        </div>
        <hr>
    </div>

</div>

