<div id="contact">

    <h1 id="contact-tag"> CONTACT </h1>

    <div style="margin-left: 6%; margin-top: 0%;">
        <p> 
            <i class="fa fa-github icon" style="top: 9px;"></i> Github 
        </p>
        <p> 
            <i class="material-icons icon" style="top: 14px; right: 2px;">file_download</i> Resume 
        </p>
    </div>

    <div style="margin-left: 35%; margin-top: -11.5%;">
        <p> 
            <i class="material-icons icon" style="top: 13px;">email</i> kylewstreng@gmail.com 
        </p>
        <p> 
            <i class="fa fa-linkedin icon" style="top: 5px;"></i> LinkedIn 
        </p>
    </div>
 
</div>
