<div id="contact">

    <h1 id="contact-tag"> CONTACT </h1>

    <div style="margin-left: 6%; margin-top: 0%;">
        <p> <i class="fa fa-github icon"></i> Github </p>
        <p><i class="material-icons icon" style="right: 5px;">file_download</i> Resume </p>
    </div>

        <div style="margin-left: 35%; margin-top: -10%;">
            <p> <i class="material-icons icon">email</i> kylewstreng@gmail.com </p>
            <p> <i class="fa fa-linkedin icon"></i> LinkedIn </p>
    
        </div>

        

</div>
