#left {
    display: inline-block; 
    *display: inline; 
    vertical-align: top; 
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 80px;
    color: #1DE9B6;
}

#right {
    display: inline-block;
    vertical-align: top; 
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 40px;
    margin-right: 150px;
    margin-left: 180px;
}

ul > li {
    display: inline-block;
    margin: 15px;
}

a {
    color: #1DE9B6;
    text-decoration: none;
}

hr {
    border: 1px solid #BDBDBD;
    border-radius: 5px;
}