<div id="experience">
    <h1>Experience</h1>
    <h2>Capital One - Associate Software Engineer</h2>
    <p><b>Feb 2020 - Present</b></p>
    <ul>
        <li> Working with a full stack application with Java SpringBoot, Angular, and HTML </li>
        <li> 2nd Bullet Point </li>
    </ul>

    <h2>Capital One - Software Engineering Intern</h2>
    <p><b>June 2019 - August 2019</b></p>
    <ul>
        <li> Created a REST API that utilizes the streaming platform Kafka to migrate historical chat data from a 3rd party host to Capital One’s databases </li>
        <li> Aided in the development of a REST API that transfers chat metrics in real time after a customer engagement ends </li>
    </ul>

    <h2>JPMorgan Chase - Software Engineering Intern</h2>
    <p><b>June 2019 - August 2019</b></p>
    <ul>
        <li> Implemented a local dynamic testing environment for Chase.com’s UI and backend services </li>
        <li> Recorded documentation for internal JPMorgan software products </li>
    </ul>
    

</div>

<hr>

<div id="projects">
    <h1>Projects</h1>
    <h2> Blockchain Debt Collection </h2>
    <ul>
        <li> Utilized Quorum (JPMorgan’s fork of Ethereum), a smart contract blockchain platform, to create a public ledger for tracking debt collection payments </li>
    </ul>

    <h2> SIMphony </h2>
    <ul>
        <li> Applied Google’s Magenta library to create a website that generates music through a variational autoencoder to produce similar songs </li>
    </ul>

    <h2> uMail </h2>
    <ul>
        <li> Created a Google Chrome extension that analyzes the contents of a user’s email and assigns an indicator based on the perceived urgency </li>
    </ul>

</div>

<hr>

<div id="education">
    <h1> Education & Certifications </h1>
    <h2> Texas A&M </h2>
    <p><b>Fall 2015 - Fall 2019</b></p>

    <h2> 
        <a style="text-decoration:none" target="_blank" href="https://www.youracclaim.com/earner/earned/badge/0dc00f65-2847-4cde-8ad7-b5c4d431436d">
            AWS Certified Solutions Architect - Associate
        </a>
    </h2>
    <p><b>July 2020 - July 2023</b></p>


</div>

