<app-side-bar></app-side-bar>

<div class='front-page'>
    <div style="float: left;">
        <h1 style="font-size: 44px; margin-top: 40px;">Kyle Streng</h1>
        <p style="font-size: 20px; margin-bottom: 60px;"> Associate Software Engineer @ Capital One </p> <br>

        <a class="icon" href='https://www.youracclaim.com/earner/earned/badge/0dc00f65-2847-4cde-8ad7-b5c4d431436d' target='_blank'>
            <i class='fab fa-aws'></i>
        </a>
        <a class='icon' href="https://www.linkedin.com/in/kyle-streng/" target="_blank">
            <i class="fa fa-linkedin"></i>
        </a>    
        <a class="icon" href="https://github.com/KyleStreng" target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </div>
    <img src="../assets/portrait.jpg" alt="Profile picture" class="portrait">

</div>

<div style="position: relative;">
    <i class="material-icons">keyboard_arrow_down</i>

</div>

