.front-page {
  padding-top: 13%;
  padding-left: 35%;
}

.icon {
  color: black;
  font-size: 36px;
  padding: 65px;
}

img {
  margin-left: 5%;
  border-radius: 5%;
  height: 30%;
  width: 30%;
  /* float: right; */
}

a:link, a:visited {
  color: black;
}

p {
  /* float: left; */
  padding-top: 50px;
  font-size: 16px;
  line-height: 1.6;
}
